@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: var(--font-gowun-dodum);
}

.home {
  font-family: var(--font-dongle);
}

.section {
  font-family: var(--font-gaegu);
}
